@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<div class="features_items my-account-page">
    <!--features_items-->
    <h2 class="title">@T("common.error")</h2>
    <div class="custom-page-box-div">
        <p>
            @T("Motillo.Plugin.KlarnaCheckout.Text.ThankYouError")
        </p>
    </div>
</div>
